framework:
    notifier:
        texter_transports:
            twilio: '%env(TWILIO_DSN)%'
        channel_policy:
            # use chat/slack, chat/telegram, sms/twilio or sms/nexmo
            urgent: ['email', 'sms']
            high: ['email', 'sms']
            medium: ['email']
            low: ['email']
        admin_recipients:
            - { email: admin@example.com }
